<!DOCTYPE html>
<html>
  <%- include('../header') %>
  <body>
    <%- include('../nav') %>
    <p>Welcome to Add Blog <%= (!!locals.title)?title:'' %></p>
    <div class="container">
      <% if(locals.errors){ %>
      <ul class="alert alert-danger">
        <% Object.values(errors).forEach((error)=>{ %>
        <li><%= error.msg %></li>
        <% }) %>
      </ul>
      <% } %>

      <form action="" method="post">
        <div class="form-group">
          <label for="name">ชื่อบทความ</label>
          <input
            type="text"
            id="name"
            name="name"
            value="<%=
          (!!locals?.blogs?.name)?blogs.name:'' %>"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="desc">รายละเอียด</label>
          <textarea
            name="desc"
            id="desc"
            cols="80"
            rows="10"
            class="form-control"
          >
<%= (!!locals?.blogs?.desc)?blogs.desc:'' %>
</textarea
          >
        </div>
        <div class="form-group">
          <label for="author">ผู้แต่ง</label>
          <input
            type="text"
            id="author"
            name="author"
            value="<%=
          (!!locals?.blogs?.author)?blogs.author:'' %>"
            class="form-control"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <script>
      CKEDITOR.replace("desc");
    </script>
  </body>
</html>
