<!DOCTYPE html>
<html>
  <%- include('../header') %>
  <body>
    <%- include('../nav') %>
    <h1><%= (!!locals.title)?title:'' %></h1>
    <p>Welcome to Blog <%= (!!locals.title)?title:'' %></p>
    <div>
      <a href="/">Back</a>
    </div>
    <div>
      <a href="/blogs/add">Add Blog</a>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Author</th>
        </tr>
      </thead>
      <tbody>
        <% if(!!locals?.blogDatas?.length){ %> <%
        blogDatas.forEach(function(blog,key){ %>
        <tr>
          <td><%= ++key %></td>
          <td><%= blog.blog_name %></td>
          <td><%= blog.blog_author %></td>
        </tr>
        <% }); %> <% } %>
      </tbody>
    </table>
  </body>
</html>
