<!DOCTYPE html>
<html>
  <%- include('./header') %>
  <body>
    <%- include('./nav') %>
    <div class="container authen__container">
      <div class="row">
        <div class="col-md-6">
          <div class="login__container">
            <% if(locals.loginErrorMsg){ %>
            <ul class="alert alert-danger">
              <% Object.values(loginErrorMsg).forEach((error)=>{ %>
              <li><%= error.msg %></li>
              <% }) %>
            </ul>
            <% } %>
            <form action="/login" method="post">
              <h2 class="text-center">Login</h2>
              <div class="form-group">
                <label for="username">Username</label>
                <input
                  type="text"
                  name="username"
                  id="username"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  name="password"
                  id="password"
                  class="form-control"
                />
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="register__container">
            <% if(locals.registerErrorMsg){ %>
            <ul class="alert alert-danger">
              <% Object.values(registerErrorMsg).forEach((error)=>{ %>
              <li><%= error.msg %></li>
              <% }) %>
            </ul>
            <% } %>
            <form action="/register" method="post">
              <h2 class="text-center">Register</h2>
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" class="form-control" />
              </div>
              <div class="form-group">
                <label for="username">Username</label>
                <input
                  type="text"
                  name="username"
                  id="username"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  name="password"
                  id="password"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="passwordConfirm">Confirm Password</label>
                <input
                  type="password"
                  name="passwordConfirm"
                  id="passwordConfirm"
                  class="form-control"
                />
              </div>
              <button type="submit" class="btn btn-primary">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
