<!DOCTYPE html>
<html>
  <%- include('./header') %>
  <body>
    <%- include('./nav') %>
    <h1><%= (!!locals.title)?title:'' %></h1>
    <p>Welcome to <%= (!!locals.title)?title:'' %></p>
    <div>
      <a href="/blogs">See Blog</a>
    </div>
    <div>
      <a href="/products">See Product</a>
    </div>
  </body>
</html>
