body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

* {
  margin: 0;
}
.authen__container {
  padding: 10px;
}
.login__container {
  background-color: #fcf0f0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 5px 10px #888888;
}
.register__container {
  background-color: #fcf0f0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 5px 10px #888888;
}
.product__imageCoverColumn {
  width: 150px;
}
.product__imageCover {
  width: 100%;
  max-height: 100px;
  object-fit: contain;
}
