<!DOCTYPE html>
<html>
  <%- include('./header') %>
  <body>
    <%- include('./nav') %>
    <h1><%= (!!locals.title)?title:'' %></h1>
    <p>Welcome <%= (!!locals.title)?title:'' %></p>
    
  </body>
</html>
