<!DOCTYPE html>
<html>
  <%- include('../header') %>
  <body>
    <%- include('../nav') %>
    <p>Welcome to Add Product <%= (!!locals.title)?title:'' %></p>
    <div class="container">
      <% if(locals.errors){ %>
      <ul class="alert alert-danger">
        <% Object.values(errors).forEach((error)=>{ %>
        <li><%= error.msg %></li>
        <% }) %>
      </ul>
      <% } %>

      <form action="" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name">ชื่อสินค้า</label>
          <input
            type="text"
            id="name"
            name="name"
            value="<%= (!!locals?.products?.name)?products.name:'' %>"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="desc">รายละเอียด</label>
          <textarea
            name="desc"
            id="desc"
            cols="80"
            rows="10"
            class="form-control"
          >
<%= (!!locals?.products?.desc)?products.desc:'' %>
</textarea
          >
        </div>
        <div class="form-group">
          <label for="price">ราคา</label>
          <input
            type="text"
            id="price"
            name="price"
            value="<%= (!!locals?.products?.price)?products.price:'' %>"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="productImg"><b>Product Image</b></label>
          <input
            type="file"
            name="productImg"
            id="productImg"
            class="form-control"
          />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <script>
      CKEDITOR.replace("desc");
    </script>
  </body>
</html>
