<!DOCTYPE html>
<html>
  <%- include('../header') %>
  <body>
    <%- include('../nav') %>
    <h1><%= (!!locals.title)?title:'' %></h1>
    <p>Welcome to Products <%= (!!locals.title)?title:'' %></p>
    <div>
      <a href="/">Back</a>
    </div>
    <div>
      <a href="/products/add">Add Product</a>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Price</th>
          <th>Cover</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% if(!!locals?.productDatas?.length){ %> <%
        productDatas.forEach(function(product,key){ %>
        <tr>
          <td><%= ++key %></td>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
          <td class="product__imageCoverColumn">
            <% if(product?.imageCover){ %>
            <img
              class="product__imageCover"
              src="/assets/img/<%= product.imageCover %>"
              alt=""
            />
            <% } %>
          </td>
          <td>
            <a
              href="<%= `products/edit/${product.id}` %>"
              class="btn btn-success"
              >Edit</a
            >
          </td>
          <td>
            <form action="<%= `products/delete` %>" method="post">
              <input
                type="hidden"
                name="id"
                value="<%= (!!product?.id)?product.id:'' %>"
              />
              <button
                type="submit"
                class="btn btn-danger"
                onclick="return confirm('ต้องการลบหรือไม่?')"
              >
                Delete
              </button>
            </form>
          </td>
        </tr>
        <% }); %> <% } %>
      </tbody>
    </table>
  </body>
</html>
